.checkbox-input
    position absolute
    left -9999px
    top 0
    display none

    &:checked + .checkbox-label .checkbox-label__icon:before
        background url(unquote(svg-check($color))) no-repeat 50% 50%
        background-size contain
