@font-face
    font-family "icons"
    src url("../fonts/icons.eot?nqsp1y");
    src url("../fonts/icons.eot?nqsp1y#iefix") format("embedded-opentype"), url("../fonts/icons.ttf?nqsp1y") format("truetype"), url("../fonts/icons.woff?nqsp1y") format("woff"), url("../fonts/icons.svg?nqsp1y#icons") format("svg")
    font-weight normal
    font-style normal

$common-styles
    font-family "icons" !important
    speak none
    font-style normal
    font-weight normal
    font-variant normal
    text-transform none
    line-height 1
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

$icon-check
    @extend $common-styles
    content "\e900"

$icon-success
    @extend $common-styles
    content "\e901"

$icon-email
    @extend $common-styles
    content "\e902"

$icon-facebook
    @extend $common-styles
    content "\e903"

$icon-like-facebook
    @extend $common-styles
    content "\e904"

$icon-google-plus
    @extend $common-styles
    content "\e905"

$icon-like-google-plus
    @extend $common-styles
    content "\e906"

$icon-vkontakte
    @extend $common-styles
    content "\e907"

$icon-like-vkontakte
    @extend $common-styles
    content "\e908"

$icon-left-arrow
    @extend $common-styles
    content "\e909"

$icon-right-arrow
    @extend $common-styles
    content "\e90a"

$icon-wifi-antenna
    @extend $common-styles
    content "\e90b"

$icon-wifi
    @extend $common-styles

$icon-wifi__part-1
    content "\e90c"

$icon-wifi__part-2
    content "\e90d"
    margin-left -1em

$icon-wifi__part-3
    content "\e90e"
    margin-left -1em

$icon-wifi__part-4
    content "\e90f"
    margin-left -1em

$icon-wifi__part-5
    content "\e910"
    margin-left -1em
