json($config) if $config is defined

$button1-color = button1-color is defined ? button1-color : #fff
$button1-dark-color = button1-dark-color is defined ? button1-dark-color : #205d2c
$button1-light-color = button1-light-color is defined ? button1-light-color : #26a441
$button1-font-size = button1-font-size is defined ? button1-font-size : 16px

$button2-color = button2-color is defined ? button2-color : #fff
$button2-dark-color = button2-dark-color is defined ? button2-dark-color : #c53427
$button2-light-color = button2-light-color is defined ? button2-light-color : #ef7f42
$button2-font-size = button2-font-size is defined ? button2-font-size : 16px

$button3-color = button3-color is defined ? button3-color : #fff
$button3-dark-color = button3-dark-color is defined ? button3-dark-color : #305687
$button3-light-color = button3-light-color is defined ? button3-light-color : #028bcf
$button3-font-size = button3-font-size is defined ? button3-font-size : 16px

$button4-color = button4-color is defined ? button4-color : #fff
$button4-dark-color = button4-dark-color is defined ? button4-dark-color : #0a8dc2
$button4-light-color = button4-light-color is defined ? button4-light-color : #6fc4e8
$button4-font-size = button4-font-size is defined ? button4-font-size : 16px

$background-color = background-color is defined ? background-color : #fff
$color = color is defined ? color : #333
$link-color = link-color is defined ? link-color : #333

$font-size = font-size is defined ? font-size : 16px
$line-height = line-height is defined ? line-height : 118%
$font-family = font-family is defined ? font-family : "Arial, Helvetica, sans-serif"

$slogan-background-color = slogan-background-color is defined ? slogan-background-color : #287DB1
$slogan-color = slogan-color is defined ? slogan-color : #fff

$error-message-color = error-message-color is defined ? error-message-color : #CC1000

$max-width = 600px
$indent = 5px

$info-message-background-color = #f3f1da
$info-message-border-color = #898989
$info-message-color = #2a2a2a

$panel-background-color = #dadada
$panel-color = #2a2a2a

$like-counter-border-color = #666
$like-counter-background-color = #ececec
$like-counter-color = #5b5b5b
$like-counter-font-size = 16px

$wifi-panel-icon-color = #2a2a2a
$wifi-icon-color = #5b5b5b
$success-message-icon-color = #007639

@import "media"
@import "fonts"
@import "svg"
@import "reset"
@import "blocks/main"

apply_media_cache()
