.checkbox-label__icon
    display table-cell
    width 1px
    padding 0 10px 2px 0
    vertical-align middle

    &:before
        display block
        width 20px
        height 20px
        border 2px solid $color
        content ""
