.news__image-box_sate_empty:before
    display inline-block
    width 120px
    height 120px
    background url(unquote(svg-camera($camera-color))) 50% 50% no-repeat
    background-size contain
    content ""
