.success-message
    position relative
    max-width 350px
    padding 0 0 0 75px
    margin 20px auto
    box-sizing border-box

    &:before
        @extend $icon-success
        position: absolute
        top 50%
        left 10px
        width 50px
        height 50px
        margin -25px 0 0
        color $success-message-icon-color
        font-size: 50px
