.slogan__left-side
    position absolute
    top 0
    left 0
    bottom 8px
    width 30px
    overflow hidden

    &:after,
    &:before
        position absolute
        right 0
        width 0
        height 0
        border-width 60px 15px 60px 15px
        border-style solid
        content ""

    &:after
        bottom 0
        border-color transparent $slogan-background-color $slogan-background-color transparent

    &:before
        top 0
        border-color $slogan-background-color $slogan-background-color transparent transparent
