.slogan__corner_type_left
    left 0
    border-color $slogan-border-color $slogan-border-color $slogan-border-color transparent

    &:before
        top 0
        right 0
        border-color $slogan-border-color $slogan-border-color transparent transparent
    &:after
        bottom 0
        right 0
        border-color transparent $slogan-border-color $slogan-border-color transparent

    .slogan__inner-corner

        &:before
            top 0
            right -1px
            border-color $slogan-background-color $slogan-background-color transparent transparent
        &:after
            bottom 0
            right -1px
            border-color transparent $slogan-background-color $slogan-background-color transparent
