.slogan__corner
    position absolute
    top 0
    bottom 8px
    width 30px
    overflow hidden
    border-width 1px
    border-style solid

    &:before,
    &:after
        position absolute
        width 0
        height 0
        border-width 60px 15px
        border-style solid
        content ""
