.slogan
	position relative
	overflow hidden
	display block
	padding 8px 15px 0
	&:before,
	&:after
		position absolute
		top 0
		bottom 8px
		width 30px
		background-color $slogan-background-color
		background-size contain
		background-repeat no-repeat
		content ""
	&:before
		left 0
		background-image url(unquote($svg-left-corner))
	&:after
		right 0
		background-image url(unquote($svg-right-corner))
		background-position 100% 0
