.slogan__caption
	z-index 1
	position relative
	display block
	padding 14px 10px
	border 1px solid $background-color
	background-color $slogan-background-color
	color $slogan-color
	text-align center
