.profile-image
    position relative
    margin 1px
    border 3px solid transparent
    box-shadow 0 0 0 1px $profile-image-border-color
    white-space nowrap

    &:before
        display block
        padding 50% 0
        content ""