.swiper__btn
    position absolute
    top 0
    bottom: 0
    width 23px
    padding 0
    margin 0
    border 0 none
    background #ddd
    opacity .35
    transition opacity 0.5s ease

    &:before
        position absolute
        top 50%
        height 0
        width 0
        margin-top -15px
        content ""
