.swiper__btn_direction_right
    right 0

    &:before
        right 5px
        border-width 15px 0 15px 10px
        border-style solid
        border-color transparent transparent transparent #999
