.swiper__btn_direction_left
    left 0
    transition left 0.5s ease

    &:before
        left 5px
        border-width 15px 10px 15px 0
        border-style solid
        border-color transparent #999 transparent
