.button_theme_two
	color $button2-color
	button-theme($button2-font-size, $button2-dark-color, $button2-light-color)

	&.button_icon_right-arrow
		.button__caption:after
			background url(unquote(svg-right-arrow($button2-color))) no-repeat 50% 50%
			background-size contain

	&.button_icon_left-arrow
		.button__caption:after
			background url(unquote(svg-left-arrow($button2-color))) no-repeat 50% 50%
			background-size contain
