.button_theme_four
    color $button4-color
    button-theme($button4-font-size, $button4-dark-color, $button4-light-color)

    &.button_icon_right-arrow
        .button__caption:after
            background url(unquote(svg-right-arrow($button4-color))) no-repeat 50% 50%
            background-size contain

    &.button_icon_left-arrow
        .button__caption:after
            background url(unquote(svg-left-arrow($button4-color))) no-repeat 50% 50%
            background-size contain

    &.button_icon_facebook
        .button__caption:after
            background url(unquote(svg-facebook($button4-color))) no-repeat 50% 50%
            background-size contain

    &.button_icon_vkontakte
        .button__caption:after
            background url(unquote(svg-vkontakte($button4-color))) no-repeat 50% 50%
            background-size contain

    &.button_icon_google-plus
        .button__caption:after
            background url(unquote(svg-google-plus($button4-color))) no-repeat 50% 50%
            background-size contain

    &.button_icon_email
        .button__caption:after
            background url(unquote(svg-email($button4-color))) no-repeat 50% 50%
            background-size contain
