.button_icon_right-arrow

    .button__caption
        padding 0 30px

        &:after
            position absolute
            right 0
            top 50%
            width 26px
            height 26px
            margin -13px 0 0 0
            content ""
