button-theme(fz, clr1, clr2)
	font-size fz
	background linear-gradient(to right, clr1 0%, clr2 45%, clr2 55%, clr1 100%)
	&:after
		background linear-gradient(to bottom, clr1 0%, rgba(clr1, 0) 100%)

@import "button"
@import "button_theme_one"
@import "button_theme_two"
@import "button_theme_three"
@import "button_size_full"
@import "button_icon_right-arrow"
@import "button_icon_left-arrow"
@import "button__caption"
