button-theme(color1, color2)
	background linear-gradient(to right, color1 0%, color2 45%, color2 55%, color1 100%)
	&:after
		background linear-gradient(to bottom, color1 0%, rgba(color1, 0) 100%)

@import "button"
@import "button_theme_one"
@import "button_theme_two"
@import "button_theme_three"
@import "button_size_full"
@import "button__caption"
